header {
  margin: 20px 0;

  @media (min-width: $breakpt) {
    margin: 40px 0;
  }

  .logo {
    color: $gray-1;
    font-family: $Inconsolata;
    font-size: 24px;
    letter-spacing: -0.08em;
    text-decoration: none;
  }
}
