header {
  margin: 20px 0;

  @media (min-width: $breakpt) {
    margin: 40px 0;
  }

  .logo {
    @include heading-text;
    
    letter-spacing: -0.08em;
    font-size: 24px;
    font-family: $Inconsolata;
    text-decoration: none;
  }
}
